

.container {
    text-align: center;
    
}

.login-card {
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 550px;
    
    
}

.login-card .title {
    margin-bottom: 20px;
    color: #2e7d32;
}

.login-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #bdbdbd;
    font-size: 16px;
}

.login-card button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #26a69a, #00796b);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.login-card button:hover {
    background: linear-gradient(to right, #00796b, #004d40);
}

.login-card .register-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-card .register-link a {
    color: #00796b;
    text-decoration: none;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}
